.container {
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.lak {
    width: 200px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(78, 76, 76);
    border: 2px solid rgb(78, 76, 76);
    /* margin-left: 45%;
    margin-top: 7%; */
}

.lok {
    width: 70px;
    height: 70px;
    margin-top: 15%;
    border: 1px solid rgb(238, 226, 226);
    background-color: rgb(238, 226, 226);
    border-radius: 70%;
    animation: red 10s linear infinite;

    /* animation-name: lok;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function:linear ease-in;
    animation-fill-mode: none; */
}

.doc {
    width: 70px;
    height: 70px;
    margin-top: 15%;
    border: 1px solid rgb(238, 226, 226);
    background-color: rgb(238, 226, 226);
    border-radius: 70%;
    animation: yellow 10s linear infinite;

    /* animation-name: doc;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function:linear ease-in;
    animation-fill-mode: none; */
}

.las {
    width: 70px;
    height: 70px;
    margin-top: 15%;
    border: 1px solid rgb(238, 226, 226);
    background-color: rgb(238, 226, 226);
    border-radius: 70%;
    animation: green 10s linear infinite;

    /* animation-name: las;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear ease-in;
    animation-fill-mode: none; */
}

@keyframes red {
    0% {
        border: 1px solid rgb(238, 226, 226);
        background-color: rgb(238, 226, 226);
    }

    10% {
        background-color: red;
        border: 1px solid #ff0000;
    }

    20% {
        border: 1px solid rgb(238, 226, 226);
        background-color: rgb(238, 226, 226);
    }
}

@keyframes yellow {
    30% {
        border: 1px solid rgb(238, 226, 226);
        background-color: rgb(238, 226, 226);
    }

    40% {
        background-color: yellow;
        border: 1px solid yellow;
    }
    50% {
        border: 1px solid rgb(238, 226, 226);
        background-color: rgb(238, 226, 226);
    }
}

@keyframes green {
    60% {
        border: 1px solid rgb(238, 226, 226);
        background-color: rgb(238, 226, 226);
    }

    70% {
        background-color: green;
        border: 1px solid green;
    }

    100% {
        border: 1px solid rgb(238, 226, 226);
        background-color: rgb(238, 226, 226)
    }
}